# Ignore backend dependencies and build artifacts
/backend/node_modules/
/backend/logs
/backend/*.log
/backend/npm-debug.log*
/backend/yarn-debug.log*
/backend/yarn-error.log*
/backend/pnpm-debug.log*
/backend/pids
/backend/*.pid
/backend/*.seed
/backend/*.pid.lock
/backend/lib-cov
/backend/coverage/
/backend/.nyc_output/
/backend/.grunt/
/backend/bower_components/
/backend/build/Release
/backend/dist/
/backend/.next/
/backend/out/
/backend/.env
/backend/.env.*
/backend/.DS_Store
/backend/.vscode/
/backend/.npm
/backend/.eslintcache
/backend/.node_repl_history
/backend/*.tgz
/backend/yarn.lock
/backend/bun.lockb
/backend/.cache
/backend/.svelte-kit
/backend/*.tsbuildinfo
/backend/.idea/
/backend/*.sublime-workspace
/backend/*.sublime-project
/backend/junit.xml
/backend/*.swp
/backend/*.swo
/backend/.env.local
/backend/.env.development.local
/backend/.env.test.local
/backend/.env.production.local

# Ignore frontend dependencies and build artifacts
/frontend/node_modules/
/frontend/logs
/frontend/*.log
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/pnpm-debug.log*
/frontend/pids
/frontend/*.pid
/frontend/*.seed
/frontend/*.pid.lock
/frontend/lib-cov
/frontend/coverage/
/frontend/.nyc_output/
/frontend/.grunt/
/frontend/bower_components/
/frontend/build/Release
/frontend/dist/
/frontend/.next/
/frontend/out/
/frontend/.env
/frontend/.env.*
/frontend/.DS_Store
/frontend/.vscode/
/frontend/.npm
/frontend/.eslintcache
/frontend/.node_repl_history
/frontend/*.tgz
/frontend/yarn.lock
/frontend/bun.lockb
/frontend/.cache
/frontend/.svelte-kit
/frontend/*.tsbuildinfo
/frontend/.idea/
/frontend/*.sublime-workspace
/frontend/*.sublime-project
/frontend/junit.xml
/frontend/*.swp
/frontend/*.swo
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local
